<li data-theme="c">
	<% var fname = itemDel.filePath.split('/').reverse()[0]%>
    <a href="/del/<%=itemDel.project%>/<%= fname %>" onClick="return conformDel();" data-ajax="false" data-transition="slide">
		<font color='red'>删除</font>
		<% if(itemDel.group!=''){ %>
        [<%= itemDel.group %>] 
		<% }%>
		<%= itemDel.time %><br>
		<%= fname %><br>
		<%= itemDel.comment %>
    </a>
</li>