<li data-theme="c">
	<% var fname = itemEdit.filePath.split('/').reverse()[0]%>
    <a href="/edit/<%=itemEdit.project%>/<%= fname %>" data-ajax="false" data-transition="slide">
		<div class=fl_time>
			<% if(itemEdit.group!=''){ %>
	        [<%= itemEdit.group %>] 
			<% }%>
			<%= itemEdit.time %>
		</div>
		<div class=fl_edit>编辑: <%= fname %></div>
		<div class=fl_comment><%= itemEdit.comment %></div>
    </a>
</li>