<li data-theme="c">
    <a href="<%= item.url %>" data-ajax="false" data-transition="slide">
		<% var fname = item.filePath.split('/').reverse()[0]%>
        [<%= item.group %>] <%= item.time %><br>
		<%= fname %><br>
		<%= item.comment %>
    </a>
</li>