<script language="JavaScript">
  function checkSubmit(form){
  	if(form.selfile.value.length==0)
  	{
  		alert("请选择要上传的文件");
		return false;
  	}
	return true;
  }
</script>

<div data-role="page" id="page1">
    <div data-theme="b" data-role="header">
        <a data-role="button" href="/configPrj/<%= prj.name %>" data-icon="gear" data-iconpos="right"
        class="ui-btn-right">
            设置
        </a>
        <a data-role="button" href="/" data-icon="arrow-l" data-iconpos="left"
        class="ui-btn-left">
            返回
        </a>
        <h3>
            项目 - <%= prj.name %> - 上传
        </h3>
    </div>
    <div data-role="content">
		<div data-role="navbar" data-iconpos="left">
            <ul>
                <li>
                    <a href="/p/<%= prj.name %>" data-transition="none" data-theme="" data-icon="">
                        下载
                    </a>
                </li>
                <li>
                    <a href="/up/<%= prj.name %>" data-transition="none" data-theme="" data-icon="" class="ui-btn-active ui-state-persist">
                        上传
                    </a>
                </li>
            </ul>
        </div>
        <% if (success) { %>
		<ul data-role="listview" data-divider-theme="e" data-inset="true">
            <li data-role="list-divider" role="heading">
                <%= success %>
            </li>
        </ul>
        <% } %>
        <% if (error) { %>
		<ul data-role="listview" data-divider-theme="e" data-inset="true">
            <li data-role="list-divider" role="heading">
                <%= error %>
            </li>
        </ul>
        <% } %>
        <form action="" method="POST" enctype="multipart/form-data" data-ajax="false">
            <div data-role="fieldcontain">
                <fieldset data-role="controlgroup">
                    <label for="textinput1">
                        选择文件
                    </label>
                    <input name="selfile" id="textinput1" placeholder="" value="" type="file">
                </fieldset>
            </div>
            <div data-role="fieldcontain">
                <fieldset data-role="controlgroup">
                    <label for="textinput2">
                        文件重命名为
                    </label>
                    <input name="fileNewName" id="textinput2" placeholder="不填则使用原文件名" value="" type="text">
                </fieldset>
            </div>
			<% if(prj.appleAppIDs.length>0){ %>
			<div data-role="fieldcontain">
	            <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
	                <legend>
	                    选择AppID(iOS)
	                </legend>
					<%- partial('appid', prj.appleAppIDs) %>
	            </fieldset>
			</div>
			<% } %>
            <div data-role="fieldcontain">
	            <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
	                <legend>
	                    选择分组
	                </legend>
					<%- partial('filegroup', prj.groups) %>
	            </fieldset>
            </div>
            <div data-role="fieldcontain">
                <fieldset data-role="controlgroup">
                    <label for="textinput3">
                        备注
                    </label>
                    <textarea name="comment" id="textinput3" placeholder="" value=""></textarea>
                </fieldset>
            </div>
			<input data-theme="b" data-icon="star" data-iconpos="right" value="上传" type="submit" onClick="return checkSubmit(this.form)">
        </form>
    </div>
</div>

